body{font:16px/20px arial,sans-serif;
		background-color: powderblue;}

.container{width:800px;
			margin:auto;
			background-color:white;
			padding:20px ;}		

.header .judul{font-size:40px
				font-weight:bold;}			

.header ul li{
			   display:inline-block;
			   margin-right:5px;
			   

}

.header a{text-decoration: none;
 			color:salmon;
 			   font-weight:bold;
 				 padding:4px;}

 .header a:hover{background-color: lightskyblue;
 					color:white;}

 .Hero{
 		background-image:url('arthur.jpg');